.header {
  display: flex;
  padding: 5rem var(--section-large-padding-x) 0;
  height: max-content;
  justify-content: space-between;
  overflow-x: hidden;
  background: linear-gradient(
    179deg,
    rgba(254, 253, 243, 0.4) 13.17%,
    rgba(209, 233, 255, 0.4) 81.16%,
    rgba(254, 253, 243, 0.4) 100.11%,
    rgba(209, 233, 255, 0.4) 141.45%
  );
}

.header_left {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.header_left h1 {
  font-size: var(--size-large6);
  font-weight: var(--text-bold-8);
  line-height: 120%;
  width: 80%;
  overflow-wrap: break-word;
}

.header_left h1 span {
  color: var(--primary-color);
}

.header_left p {
  font-size: var(--size-small-2);
  line-height: 142.857%;
  font-weight: var(--text-bold-4);
  width: 80%;
}

.header_left a {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: var(--white-color);
  font-size: var(--size-small-2);
  font-weight: var(--text-bold-6);
  padding: 1rem 2rem;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right_link {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: var(--white-color);
  font-size: var(--size-small-2);
  font-weight: var(--text-bold-6);
  padding: 1rem 2rem;
  width: max-content;
  display: none;
  align-items: center;
  justify-content: center;
}

.header_right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header_image {
  height: 33rem;
  width: 33rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--primary-color-light);
}

.header_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.bluestar,
.whitestar {
  position: absolute;
  height: 5rem;
  aspect-ratio: 1/1;
}

.bluestar {
  top: -10%;
  left: -20%;
}

.whitestar {
  bottom: 30%;
  right: -10%;
}

@media screen and (max-width: 1200px) {
  .header_left h1 {
    font-size: var(--size-large5);
    font-weight: var(--text-bold-8);
    line-height: 120%;
    width: 100%;
  }

  .header_image {
    height: 30rem;
    width: 30rem;
  }
}

@media screen and (max-width: 1024px) {
  .header_left h1 {
    width: 100%;
  }

  .header_image {
    height: 28rem;
    width: 28rem;
  }
  .header_left p {
    width: 80%;
  }
}

@media screen and (max-width: 980px) {
  .header {
    flex-direction: column;
    padding-top: 4rem;
    align-items: center;
    gap: 3rem;
  }

  .header_left p {
    width: 90%;
  }

  .header_right {
    width: 100%;
    justify-content: center;
  }

  .bluestar {
    top: 0%;
    left: 0%;
  }

  .whitestar {
    bottom: 30%;
    right: 0%;
  }

  .header_image {
    height: 30rem;
    width: 30rem;
  }
}

@media screen and (max-width: 630px) {
  .header_image {
    height: 80%;
    aspect-ratio: 1/1;
  }

  .whitestar {
    bottom: 0%;
    right: 0%;
  }
}

@media screen and (max-width: 480px) {
  .header {
    flex-direction: column;
    padding-top: 2rem;
    align-items: center;
    gap: 3rem;
  }

  .header_left h1 {
    font-size: var(--size-large3);
    font-weight: var(--text-bold-8);
    line-height: 120%;
    width: 100%;
    text-align: start;
    line-break: loose;
  }

  .header_left p {
    width: 100%;
    text-align: justify;
    white-space: pre-line;
  }

  .right_link {
    display: flex;
    width: 100%;
  }

  .header_left a {
    width: 100%;
    display: none;
  }

  .bluestar {
    top: -10%;
    left: 0%;
  }

  .whitestar,
  .bluestar {
    width: 2rem;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
}
