.register_page {
  display: flex;
  height: max-content;
  width: 100vw;
}

.register_right,
.register_left {
  flex: 1 1 50%;
}

.register_right {
  background: rgba(3, 126, 243, 0.1);
  padding: var(--section-large-padding-y) var(--section-large-padding-x);
}

.register_left {
  padding: calc(var(--section-large-padding-y) + 2rem)
    var(--section-large-padding-x);
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10rem;
}

.register_left h1 {
  font-size: var(--size-large6);
  font-weight: var(--text-bold-8);
  line-height: 120%;
  width: 80%;
}

.register_left h1 span {
  color: var(--primary-color);
}

.findus {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.findus h3 {
  font-size: var(--size-small-4);
}

.findus_bottom {
  width: 100%;
  display: flex;
  height: 10rem;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.image {
  flex: 0 0 20%;
  height: 5rem;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.circle {
  position: absolute;
  width: 20rem;
  height: 20rem;
  z-index: -1;
  background-color: #037ef3;
  left: -20%;
  bottom: 15%;
  border-radius: 50%;
}

.circle2 {
  position: absolute;
  width: 30rem;
  height: 30rem;
  z-index: -1;
  background-color: #037ef3;
  left: -20%;
  bottom: 10%;
  border-radius: 50%;
  opacity: 50%;
}

.hidden {
  display: none;
}
@media screen and (max-width: 1200px) {
  .register_left h1 {
    font-size: var(--size-large3);
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .register_page {
    flex-direction: column;
    padding: var(--section-large-padding-y) var(--section-large-padding-x) 0;
    gap: 10rem;
    position: relative;
    background-color: rgba(248, 250, 252, 0.6);
  }

  .findus {
    display: none;
  }

  .register_left {
    padding: 0;
    display: flex;
    flex-direction: column;
    position: static;
    gap: 0rem;
    background-color: rgba(248, 250, 252, 0.6);
  }

  .circle {
    width: 20rem;
    height: 20rem;
    left: -20%;
    top: 25%;
  }

  .circle2 {
    width: 30rem;
    height: 30rem;
    left: -20%;
    top: 20%;
  }
  .register_right {
    background: transparent;
    padding: 0;
    background-color: rgba(248, 250, 252, 0.6);
    border-radius: 1rem;
  }

  .register_left h1 {
    font-size: var(--size-large3);
    width: 80%;
  }

  .hidden {
    display: block;
    margin-top: -10rem;
  }
}

@media screen and (max-width: 480px) {
  .register_page {
    flex-direction: column;
    padding: 2rem var(--section-large-padding-x) 2rem;
    gap: 3rem;
    position: relative;
    background-color: rgba(248, 250, 252, 0.6);
  }

  .register_left {
    padding: 0;
    display: flex;
    flex-direction: column;
    position: static;
    /* align-items: flex-start; */
  }

  .register_left h1 {
    font-size: var(--size-large2);
    width: 100%;
    background-color: transparent;
  }

  .circle {
    width: 10rem;
    height: 10rem;
    left: -25%;
    top: 20%;
  }

  .circle2 {
    width: 15rem;
    height: 15rem;
    left: -30%;
    top: 16%;
  }

  .hidden {
    display: block;
    margin-top: -3rem;
  }
}
